.about{
    #visible{
        visibility: hidden;
    }
    h2{
        text-align: center;
    }

    p{
        width: 90%;
        margin: auto;
        margin-bottom: 5px;
    }
    p::first-letter{
        color: rgb(53, 49, 83);
        font-size: x-large;
    }
    a{
        text-decoration: none;
    }
}