
header{
    
nav{
    display: flex;
    flex-direction: column;

    div{
        background-color: rgba(255, 228, 196,0.5);
        border: 1px solid gray;
        text-align: center;
        border-radius: 5px;
        min-height: 15px;
    }
    div:hover{
        background-color: cornsilk;
    }

    #logo{ 
        height: 50px;
        border-radius: 10px;
        padding-top: 25px;
        font-family: fantasy;
        font-size: x-large;
        font-weight: bolder;
    }
}
}