.iframes {
    overflow: hidden;
    width: 95vw;
    // height:290px ;

    iframe {
        width: 100vw;
        margin: auto;letter-spacing: normal;
        border: 1px solid black;
        height: 600px;

        margin-top: 10px;
    }

}