footer{
    width: 100vw;
    min-height: 80px;
    background-color: rgba(255, 228, 196,1);
    height: 30px;
    border-radius: 5px;
    text-align: center;
    padding-top: 25px;
    // padding-bottom: 4%;
    color:red;
}