footer{
    // position: fixed;
    // bottom: 0;
    width: 100vw;
    min-height: 50px;
    background-color: rgba(55, 46, 75, 1);
    text-align: center;
    padding-top: 25px;
    color:white; 


    .icon{
        font-size: xx-large;
        margin-left: 20px;
        margin-bottom: 15px;
    }
} 