.App{
    // width: 100vw;

.header{
    grid-area: header;
    background-color:white;

}
.aside{
    grid-area:aside;
}
.section{
    grid-area: section;
}
.footer{
    grid-area: footer;
}


.appGrid{
    display: grid;
  grid-template-areas: 
  ' header header '
  ' aside section'
  ' footer footer ';
    
   
   background-color: yellowgreen;
   width: 83.33%;
   height: 60%;
   margin: auto;
} 
}