.projects{

  .topHeaderProjects{
    position: relative;
    animation-name: example;
    animation-duration: 2s;
    animation-iteration-count: 1;
 }

 @keyframes example {
    0%   { left:600px; top:0px;}
    100% {left:0px; top:0px;}
  }
#visible{
    visibility: hidden;
}
  #proj{
      width: 350px;
      margin: auto;
  }
}
@media(min-width:600px){ 
  .projects{
    #proj{
      display: flex;
      justify-content: space-around;
      // flex-wrap: wrap;
      
    }
  }
}